<!DOCTYPE html>
<html lang="da">
<head>

    <!-- Meta -->
    <meta charset="UTF-8"> <!-- ÆØÅ -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- In case some nerd uses Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Mobile Responsiveness -->
    <meta name="description" content="Fuck vi hader livet jo... #swag"> <!-- SEO / Google -->
    <meta name="author" content="Gruppe D"> <!-- Author of Website -->

    <!-- Visuals -->
    <title>Olsker Cupcakes</title>

    <!-- Icon -->
    <link rel="icon" href="../static/images/icons/icon.svg" type="image/x-icon"> <!-- That little logo thats next to the title in URL -->
    <link rel="apple-touch-icon" href="../static/images/icons/icon.svg">

    <!-- CSS Load -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Scripts can also be loaded here with defer -->
    <!-- Framwork load -->
    <link rel="stylesheet" href="../static/css/guacamoleboy-wow.css">
    <link rel="stylesheet" href="../static/css/guacamoleboy-framework.css">
    <link rel="stylesheet" href="../static/css/andreas.css">
    <script src="../static/js/guacamoleboy-wow.js" defer></script>

    <!-- Modules -->
    <script type="module" src="../static/js/components/navbar.js" defer></script>

</head>
<body class="subpage">

    <!-- Navbar -->
    <div id="navbar-component"></div>
    <!-- Navbar -->

    <!-- Hero Section Start -->
    <section class="hero">
        
        <div class="guac-container">
            <div class="guac-row">
                <div class="guac-col-auto subpage-cupcake-1">
                    <img src="../static/images/page-content/index/cupcake-3.png" alt="Billede 1">
                </div>
                <div class="guac-col-auto subpage-cupcake-2">
                    <img src="../static/images/page-content/index/cupcake-3.png" alt="Billede 2">
                </div>
            </div>
        </div>

        <!-- End Wave Hero Start -->
        <div class="wave-1">
            <img src="../static/images/waves/wave-top.svg">
        </div>
        <!-- End Wave Hero End -->

    </section>
    <!-- Hero Section End -->

    <!-- Next Section Start -->
    <section class="section-1">
        <div class="guac-container">
            <div class="guac-row">

            </div>
        </div>
    </section>
    <!-- Next Section End -->

    <!-- Section -->
    <section id="menu">
        <div class="guac-container">
            <div class="guac-row guac-justify-center">
                <div class="menu-wrapper">
                    <h2>Vores Cupcakes</h2>
                    <p>Se vores store udvalg af cupcakes herunder...</p>
                </div>
                <div class="products"> <!-- Static -->

                    <!-- One Card - Dynamic -->
                    <div class="product-item col-auto" id="$dynamic">
                        <img src="../static/images/products/cupcake-1.png"></img>
                        <p class="product-title">Chokolade cupcake</p>
                        <p class= "product-desc">Beskrivelse her diddy</p>
                        <div class="order-wrapper guac-mb-3">
                            <a href="#" class="add-product">Bestil</a>
                        </div>
                    </div>
                    <!-- One Card -->
                    <div class="product-item col-auto" id="$dynamic">
                        <img src="../static/images/products/cupcake-1.png"></img>
                        <p class="product-title">Chokolade cupcake</p>
                        <p class= "product-desc">Beskrivelse her diddy</p>
                        <div class="order-wrapper guac-mb-3">
                            <a href="#" class="add-product">Bestil</a>
                        </div>
                    </div>
                    <div class="product-item col-auto" id="$dynamic">
                        <img src="../static/images/products/cupcake-1.png"></img>
                        <p class="product-title">Chokolade cupcake</p>
                        <p class= "product-desc">Beskrivelse her diddy</p>
                        <div class="order-wrapper guac-mb-3">
                            <a href="#" class="add-product">Bestil</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</body>
</html>