<!DOCTYPE html>
<html lang="da">
<head>

    <!-- Meta -->
    <meta charset="UTF-8"> <!-- ÆØÅ -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- In case some nerd uses Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Mobile Responsiveness -->
    <meta name="description" content="Fuck vi hader livet jo... #swag"> <!-- SEO / Google -->
    <meta name="author" content="Gruppe D"> <!-- Author of Website -->

    <!-- Visuals -->
    <title>Olsker Cupcakes - Admin</title>

    <!-- Icon -->
    <link rel="icon" href="/images/icons/cupcake-1.png" type="image/x-icon"> <!-- That little logo thats next to the title in URL -->
    <link rel="apple-touch-icon" href="/images/icons/cupcake-1.png">

    <!-- CSS Load -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Framwork load -->
    <link rel="stylesheet" href="/css/guacamoleboy-wow.css">
    <link rel="stylesheet" href="/css/guacamoleboy-framework.css">
    <script src="/js/guacamoleboy-wow.js" defer></script>

    <!-- Script Load -->
    <script src="/js/admin-menu.js" defer></script>
    <script src="/js/auth.js" defer></script>
    <script src="/js/notification.js" defer></script>
    <script src="/js/scroll-fix.js" defer></script>

    <!-- Modules -->
    <script type="module" src="/js/components/navbar.js" defer></script>

</head>
<body class="profile-initial">

    <!-- Profile Menu Start -->
    <section class="profile-menu-visuals">
        <div class="guac-row">

            <!-- Side Menu Start -->
            <div class="guac-col-2 profile-nav">
                <div class="profile-title">
                    <h3>Hej,<br>$name!</h3>
                </div>
                <div class="profile-buttons">
                    <a href="#" class="guac-btn guac-btn-profile" data-section="brugere">Brugere</a>
                    <a href="#" class="guac-btn guac-btn-profile" data-section="ordre">Ordre</a>
                    <a href="#" class="guac-btn guac-btn-profile" data-section="cms">CMS</a>
                    <a href="#" class="guac-btn guac-btn-profile" data-section="distributor">Distributør</a>
                    <a href="#" class="guac-btn guac-btn-profile" data-section="bestil">Bestil Varer</a>
                    <a href="#" class="guac-btn guac-btn-profile" data-section="internt">Internt</a>
                    <a href="#" class="guac-btn guac-btn-profile" data-section="statistik">Statistik</a>
                </div>

                <!-- Exit Button Start -->
                <a href="/" class="exit-btn-profile" title="Tilbage til forsiden">&#10006;</a>
                <!-- Exit Button End -->
                 
            </div>
            <!-- Side Menu End -->

            <!-- ____________________________________________________________________ -->

            <!-- "Brugere" Content Start -->
            <div class="guac-col-auto profile-actual" id="brugere">

                <!--  Content Section -->
                <div class="content-section">
                    <h2>Hurtig Navigation</h2>
                    <p>Vælg herunder for hurtigere navigation</p>
                    <a class="guac-btn action-btn" href="#searchForUserAdmin">Søg efter bruger</a>
                    <a class="guac-btn action-btn" href="#addNewUserAdmin">Tilføj ny bruger</a>
                    <a class="guac-btn action-btn" href="#deleteUserAdmin">Slet bruger</a>
                </div>
                <!--  Content Section -->

                <hr class="section-divider">

                <!--  Content Section -->
                <div class="content-section" id="searchForUserAdmin">
                    <h2>Søg efter bruger</h2>
                    <p>Indtast brugerens ID og/eller brugernavn:</p>
                    <div class="guac-row input-group">
                        <div class="guac-col">
                            <label for="user-id">ID</label>
                            <input type="text" id="user-id" placeholder="41414...">
                        </div>
                        <div class="guac-col">
                            <label for="username">Brugernavn</label>
                            <input type="text" id="username" placeholder="Diddy69...">
                        </div>
                        <div class="guac-col">
                            <label>email</label>
                            <input type="email" placeholder="narko@narko.dk">
                        </div>
                    </div>
                    <button type="button" class="guac-btn action-btn">Søg efter bruger</button>
                </div>
                <!--  Content Section -->

                <hr class="section-divider">

                <!--  Content Section -->
                <div class="content-section" id="addNewUserAdmin">
                    <h2>Tilføj ny bruger</h2>
                    <p>Udfyld oplysninger for at oprette en ny bruger:</p>
                    <div class="guac-row input-group">
                        <div class="guac-col">
                            <label for="new-username">Brugernavn</label>
                            <input type="text" id="new-username" placeholder="Brugernavn...">
                        </div>
                        <div class="guac-col">
                            <label>Password</label>
                            <input type="password" placeholder="Password...">
                        </div>
                        <div class="guac-col">
                            <label for="email">Email</label>
                            <input type="email" id="email" placeholder="Email...">
                        </div>
                    </div>
                    <button type="button" class="guac-btn action-btn">Opret bruger</button>
                </div>
                <!--  Content Section -->

                <hr class="section-divider">

                <!--  Content Section -->
                <div class="content-section" id="deleteUserAdmin">
                    <h2>Fjern bruger</h2>
                    <p>Udfyld oplysninger for at fjerne en bruger:</p>
                    <div class="guac-row input-group">
                        <div class="guac-col">
                            <label>Brugernavn</label>
                            <input type="text" placeholder="Brugernavn...">
                        </div>
                        <div class="guac-col">
                            <label>Email</label>
                            <input type="email" placeholder="Email...">
                        </div>
                        <div class="guac-col">
                            <label>ID</label>
                            <input type="text" placeholder="ID...">
                        </div>
                    </div>
                    <button type="button" class="guac-btn action-btn">Fjern bruger</button>
                </div>
                <!--  Content Section -->

                <hr class="section-divider"> <!-- Important to have in the end for sticky UI feel -->

            </div>
            <!-- "Brugere" Content End -->

            <!-- ____________________________________________________________________ -->

            <!-- "ordre" Content Start -->
            <div class="guac-col-auto profile-actual" id="ordre" style="display:none;">

                <!--  Content Section -->
                <div class="content-section">
                    <h2>Hurtig Navigation</h2>
                    <p>Vælg herunder for hurtigere navigation</p>
                    <a class="guac-btn action-btn" href="#searchOrderAdmin">Søg efter ordre</a>
                    <a class="guac-btn action-btn" href="#seeAllOrdersAdmin">Se alle ordre</a>
                    <a class="guac-btn action-btn" href="#updateDeleteOrderAdmin">Opdater / slet ordre</a>
                    <a class="guac-btn action-btn" href="#createNewOrderAdmin">Opret ny ordre</a>
                    <a class="guac-btn action-btn" href="#refundAdmin">Refusion</a>
                    <a class="guac-btn action-btn" href="#returnAdmin">Retur</a>
                </div>
                <!--  Content Section -->

                <hr class="section-divider">

                <!--  Content Section -->
                <div class="content-section" id="searchOrderAdmin">
                    <h2>Søg efter ordre</h2>
                    <p>Indtast brugerens ID og/eller brugernavn:</p>
                    <div class="guac-row input-group">
                        <div class="guac-col">
                            <label>ID</label>
                            <input type="text"  placeholder="41414...">
                        </div>
                        <div class="guac-col">
                            <label>Brugernavn</label>
                            <input type="text" placeholder="Diddy69...">
                        </div>
                        <div class="guac-col">
                            <label>email</label>
                            <input type="email" placeholder="narko@narko.dk">
                        </div>
                    </div>
                    <button type="button" class="guac-btn action-btn">Søg efter ordre</button>
                </div>
                <!--  Content Section -->

                <hr class="section-divider">

                <!--  Content Section -->
                <div class="content-section" id="updateDeleteOrderAdmin">
                    <h2>Opdater / slet ordre for bruger</h2>
                    <p>Indtast brugerens ID og/eller brugernavn:</p>
                    <div class="guac-row input-group">
                        <div class="guac-col">
                            <label>ID</label>
                            <input type="text"  placeholder="41414...">
                        </div>
                        <div class="guac-col">
                            <label>Brugernavn</label>
                            <input type="text" placeholder="Diddy69...">
                        </div>
                        <div class="guac-col">
                            <label>email</label>
                            <input type="email" placeholder="narko@narko.dk">
                        </div>
                    </div>
                    <button type="button" class="guac-btn action-btn">Søg efter ordre</button>
                </div>
                <!--  Content Section -->

                <hr class="section-divider">

                <!--  Content Section -->
                <div class="content-section" id="seeAllOrdersAdmin">
                    <h2>Se alle ordre</h2>
                    <p>Her kan du se alle ordre</p>
                    <button type="button" class="guac-btn action-btn">Vis alle ordre</button>
                </div>
                <!--  Content Section -->

                <hr class="section-divider">

                <!--  Content Section -->
                <div class="content-section" id="createNewOrderAdmin">
                    <h2>Opret ny ordre</h2>
                    <p>Indtast oplysninger herunder:</p>
                    <button type="button" class="guac-btn action-btn">Opret ny ordre</button>
                </div>
                <!--  Content Section -->

                <hr class="section-divider">

                <!--  Content Section -->
                <div class="content-section" id="refundAdmin">
                    <h2>Refusion</h2>
                    <p>Behandl refusionsanmodninger her:</p>
                    <button type="button" class="guac-btn action-btn">Start refusion</button>
                </div>
                <!--  Content Section -->

                <hr class="section-divider">

                <!--  Content Section -->
                <div class="content-section" id="returnAdmin">
                    <h2>Retur</h2>
                    <p>Administrér returordrer:</p>
                    <button type="button" class="guac-btn action-btn">Se returordrer</button>
                </div>
                <!--  Content Section -->

                <hr class="section-divider">

            </div>
            <!-- "Ordre" Content End -->

            <!-- ____________________________________________________________________ -->

            <!-- "cms" Content Start -->
            <div class="guac-col-auto profile-actual" id="cms" style="display:none;">

                <!--  Content Section -->
                <div class="content-section">
                    <h2>Hurtig Navigation</h2>
                    <p>Vælg herunder for hurtigere navigation</p>
                    <a class="guac-btn action-btn" href="#updateDeliveryPricesAdmin">Leveringspriser</a>
                    <a class="guac-btn action-btn" href="#updateCupcakePricesAdmin">Cupcake priser</a>
                    <a class="guac-btn action-btn" href="#createDiscountCodeAdmin">Rabatkode</a>
                </div>
                <!--  Content Section -->

                <hr class="section-divider">

                <!--  Content Section -->
                <div class="content-section" id="updateDeliveryPricesAdmin">
                    <h2>Opdater leveringspriser</h2>
                    <p>Udfyld oplysningerne herunder:</p>
                    <div class="guac-row input-group">
                        <div class="guac-col">
                            <label>Leveringsmetode</label>
                            <input type="text" placeholder="Fx GLS...">
                        </div>
                        <div class="guac-col">
                            <label>Ny pris</label>
                            <input type="text" placeholder="Ny pris...">
                        </div>
                        <div class="guac-col">
                            <label>Godkendelse</label>
                            <input type="text" placeholder="Skriv dit brugernavn...">
                        </div>
                    </div>
                    <button type="button" class="guac-btn action-btn">Opdater</button>
                </div>
                <!--  Content Section -->

                <hr class="section-divider">

                <!--  Content Section -->
                <div class="content-section" id="updateCupcakePricesAdmin">
                    <h2>Opdater cupcake pris</h2>
                    <p>Udfyld oplysningerne herunder:</p>
                    <div class="guac-row input-group">
                        <div class="guac-col">
                            <label>Cupcake</label>
                            <input type="text" placeholder="Jordbærcupcake...">
                        </div>
                        <div class="guac-col">
                            <label>ID</label>
                            <input type="text" placeholder="ID...">
                        </div>
                        <div class="guac-col">
                            <label>Ny pris</label>
                            <input type="text" placeholder="Ny pris...">
                        </div>
                        <div class="guac-col">
                            <label>Godkendelse</label>
                            <input type="text" placeholder="Skriv dit brugernavn...">
                        </div>
                    </div>
                    <button type="button" class="guac-btn action-btn">Opdater</button>
                </div>
                <!--  Content Section -->

                <hr class="section-divider">

                <!--  Content Section -->
                <div class="content-section" id="createDiscountCodeAdmin">
                    <h2>Opret rabatkode</h2>
                    <p>Udfyld oplysningerne herunder:</p>
                    <div class="guac-row input-group">
                        <div class="guac-col">
                            <label>Rabatkode</label>
                            <input type="text" placeholder="5001-5055-6CUP-CAKE...">
                        </div>
                        <div class="guac-col">
                            <label>Rabat</label>
                            <input type="text" placeholder="Rabat (0-100)...">
                        </div>
                        <div class="guac-col">
                            <label>Godkendelse</label>
                            <input type="text" placeholder="Skriv dit brugernavn...">
                        </div>
                    </div>
                    <button type="button" class="guac-btn action-btn">Opret</button>
                </div>
                <!--  Content Section -->

                <hr class="section-divider">

            </div>
            <!-- "cms" Content End -->

            <!-- ____________________________________________________________________ -->

            <!-- "distributør" Content Start -->
            <div class="guac-col-auto profile-actual" id="distributor" style="display:none;">

                <!--  Content Section -->
                <div class="content-section">
                    <h2>Hurtig Navigation</h2>
                    <p>Vælg herunder for hurtigere navigation</p>
                    <a class="guac-btn action-btn" href="#contactAdmin">Kontakt</a>
                    <a class="guac-btn action-btn" href="#messagesAdmin">Beskeder</a>
                    <a class="guac-btn action-btn" href="#latestInfoAdmin">Nyeste information</a>
                    <a class="guac-btn action-btn" href="#createDistributorAdmin">Opret ny distributør</a>
                    <a class="guac-btn action-btn" href="#sendReturnAdmin">Send retur</a>
                </div>
                <!--  Content Section -->

                <hr class="section-divider">

            </div>
            <!-- "distributør" Content End -->

            <!-- ____________________________________________________________________ -->

            <!-- "Bestil Varer" Content Start -->
            <div class="guac-col-auto profile-actual" id="bestil" style="display:none;">

                <!--  Content Section -->
                <div class="content-section">
                    <h2>Hurtig Navigation</h2>
                    <p>Vælg herunder for hurtigere navigation</p>
                    <a class="guac-btn action-btn" href="#orderRawMaterialsAdmin">Bestil råvarer</a>
                </div>
                <!--  Content Section -->

                <hr class="section-divider">

            </div>
            <!-- "Bestil Varer" Content End -->

            <!-- ____________________________________________________________________ -->

            <!-- "Internt" Content Start -->
            <div class="guac-col-auto profile-actual" id="internt" style="display:none;">

                <!--  Content Section -->
                <div class="content-section">
                    <h2>Hurtig Navigation</h2>
                    <p>Vælg herunder for hurtigere navigation</p>
                    <a class="guac-btn action-btn" href="#campaignsAdmin">Kampagner</a>
                    <a class="guac-btn action-btn" href="#latestMessagesAdmin">Seneste beskeder</a>
                    <a class="guac-btn action-btn" href="#pendingApprovalsAdmin">Manglende godkendelse</a>
                    <a class="guac-btn action-btn" href="#fromHRAdmin">Fra HR</a>
                    <a class="guac-btn action-btn" href="#fromManagementAdmin">Fra Ledelsen</a>
                </div>
                <!--  Content Section -->

                <hr class="section-divider">

            </div>
            <!-- "Internt" Content End -->

            <!-- ____________________________________________________________________ -->

            <!-- "statistik" Content Start -->
            <div class="guac-col-auto profile-actual" id="statistik" style="display:none;">

                <!--  Content Section -->
                <div class="content-section">
                    <h2>Hurtig Navigation</h2>
                    <p>Vælg herunder for hurtigere navigation</p>
                    <a class="guac-btn action-btn" href="#totalSalesAdmin">Total salg</a>
                    <a class="guac-btn action-btn" href="#salesPerCupcakeAdmin">Salg pr cupcake</a>
                    <a class="guac-btn action-btn" href="#ebitdaAdmin">Ebitda</a>
                    <a class="guac-btn action-btn" href="#returnStatsAdmin">Retur statistik</a>
                    <a class="guac-btn action-btn" href="#deliveryDamageAdmin">Leveringsskader</a>
                    <a class="guac-btn action-btn" href="#lostRevenueAdmin">Tabt omsætning</a>
                    <a class="guac-btn action-btn" href="#websiteStatsAdmin">Hjemmeside statistik</a>
                </div>
                <!--  Content Section -->

                <hr class="section-divider">

            </div>
            <!-- "statistik" Content End -->

            <!-- ____________________________________________________________________ -->

        </div>
    </section>
    <!-- Profile Menu End -->

    <!-- Notification -->
    <div id="guac-notification-container"></div>
    <!-- Notification -->

</body>
</html>