<!DOCTYPE html>
<html lang="da">
<head>

    <!-- Meta -->
    <meta charset="UTF-8"> <!-- ÆØÅ -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- In case some nerd uses Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Mobile Responsiveness -->
    <meta name="description" content="Fuck vi hader livet jo... #swag"> <!-- SEO / Google -->
    <meta name="author" content="Gruppe D"> <!-- Author of Website -->

    <!-- Visuals -->
    <title>Olsker Cupcakes - Payment</title>

    <!-- Icon -->
    <link rel="icon" href="/images/icons/cupcake-1.png" type="image/x-icon"> <!-- That little logo thats next to the title in URL -->
    <link rel="apple-touch-icon" href="/images/icons/cupcake-1.png">

    <!-- CSS Load -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Scripts can also be loaded here with defer -->
    <!-- Framwork load -->
    <link rel="stylesheet" href="/css/guacamoleboy-wow.css">
    <link rel="stylesheet" href="/css/guacamoleboy-framework.css">
    <script src="/js/guacamoleboy-wow.js" defer></script>

</head>
<body class="subpage">

<!-- Return to Index -->
<a href="/" class="exit-btn" title="Tilbage til forsiden">&#10006;</a>
<!-- Return to Index -->

<!-- Payment Section Start -->
<section class="section-1-payment">
    <div class="guac-container">

        <!-- Order Header -->
        <h2>Order Confirmation #694206969</h2>
        <p class="payment-p">Venligst kig om alt stemmer overens herunder</p>
        <!-- Order Header -->

        <hr class="section-divider">

        <!-- Delivery -->
        <h3>Leveringsmetode</h3>
        <div class="delivery-options guac-row">
            <button type="button">Afhent i butik</button>
        </div>
        <p>Olskervej 1, 3770 Allinge</p>
        <p>Din ordre er klar inden for ca 30 min efter godkendelse</p>
        <p>+45 12 34 56 78</p>
        <!-- Delivery -->

        <hr class="section-divider">

        <!-- Coupon -->
        <h3>Rabatkode</h3>
        <p>5005-1050-51CU-PCAKE</p>
        <!-- Coupon -->

        <hr class="section-divider">

        <!-- Info Above Order List -->
        <div class="order-list">
            <div class="order-item guac-row guac-col-auto">
                <p>Produkt</p>
                <p>Antal</p>
                <p>Pris pr stk</p>
            </div>
        </div>
        <!-- Info Above Order List -->

        <hr class="section-divider">

        <!-- Order List -->
        <div class="order-list">
            <div class="order-item guac-row guac-col-auto">
                <p>Jordbær Top / Chokolade Bund</p>
                <p>2</p>
                <p>49 kr</p>
            </div>
            <div class="order-item guac-row guac-col-auto">
                <p>Blåbær Cupcake</p>
                <p>1</p>
                <p>15 kr</p>
            </div>
            <div class="order-item guac-row guac-col-auto">
                <p>Halloween Cupcake</p>
                <p>7</p>
                <p>24 kr</p>
            </div>
            <div class="order-item guac-row guac-col-auto">
                <p>Jordbær Cupcake</p>
                <p>9</p>
                <p>30 kr</p>
            </div>
            <div class="order-item guac-row guac-col-auto">
                <p>5005-1050-51CU-PCAKE</p>
                <p>1</p>
                <p>- 50 kr</p>
            </div>
        </div>
        <!-- Order List -->

        <hr class="section-divider">

        <!-- Info Under Order List -->
        <div class="order-list">
            <div class="order-item guac-row guac-col-auto">
                <p>Total</p>
                <p></p>
                <p>510 kr</p>
            </div>
        </div>
        <!-- Info Under Order List -->

        <hr class="section-divider">

        <!-- Payment Method -->
        <h3>Betalingsmetode</h3>
        <div class="payment-options guac-row">
            <button type="button">VISA</button>
        </div>
        <p>Kurt Ingebrickseen Jensen</p>
        <p>4571-2276-XXXX-XX17</p>
        <p>CVR: 679</p>
        <p>Exp: 07/28</p>
        <!-- Payment Method -->

        <hr class="section-divider">

        <!-- Next Button -->
        <a href="/pay/{id}?confirm" class="next-btn">Betal nu</a>
        <!-- Next Button -->

    </div>
</section>
<!-- Payment Section End -->

</body>
</html>