<!DOCTYPE html>
<html lang="da">
<head>

    <!-- Meta -->
    <meta charset="UTF-8"> <!-- ÆØÅ -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- In case some nerd uses Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Mobile Responsiveness -->
    <meta name="description" content="Fuck vi hader livet jo... #swag"> <!-- SEO / Google -->
    <meta name="author" content="Gruppe D"> <!-- Author of Website -->

    <!-- Visuals -->
    <title>Olsker Cupcakes</title>

    <!-- Icon -->
    <link rel="icon" href="images/icons/cupcake-1.png" type="image/x-icon"> <!-- That little logo thats next to the title in URL -->
    <link rel="apple-touch-icon" href="images/icons/cupcake-1.png">

    <!-- CSS Load -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Framwork load -->
    <link rel="stylesheet" href="css/guacamoleboy-wow.css">
    <link rel="stylesheet" href="css/guacamoleboy-framework.css">
    <script src="js/guacamoleboy-wow.js" defer></script>

    <!-- Modules -->
    <script type="module" src="js/components/navbar.js" defer></script>
    <script src="js/notification.js" defer></script>

</head>
<body class="subpage visuals-tak">

<!-- Navbar -->
<div id="navbar-component"></div>
<!-- Navbar -->

<!-- Notification Container -->
<div id="guac-notification-container"></div>
<!-- Notification Container -->

<!-- Tak Start -->
<section class="section-tak">
    <h1 class="section-tak-title">Tak for din ordre!</h1>
    <h2 class="section-tak-text">Vi har modtaget din bestilling..</h2>
    <p class="section-tak-p">
        Dit ordrenummer er <span class=".b" th:text="'#694206969' + ${order.id}"></span>
    </p>
    <p class="section-tak-p">
        Du vil modtage en bekræftelse på din mail hurtigst muligt. <br>
    </p>
    <div class="tak-order-wrapper guac-mt-5">
        <a href="/" class="guac-btn-form tak-home-btn">Til forsiden</a>
    </div>
</section>
<!-- Tak End -->

</body>
</html>