/* Til dig Andreas bby <3 */

:root {
    --background: #000000;
    --navbar: #C3C3C3;

    /*

    Kan ændre farve på flere objekter mm på samme tid
    uden at skulle finde hver evig eneste version i .css filen..

    */

}

body {
    background: var(--background);

    /*

    <body> <------ Denne

    </body>

    */
}

.body {

    /*

    <div class="body">

    </div>

    */

}

#body {

    /*

    <div id="body">

    </div>

    */

}